<div class="container header_info">
    <div class="row">
        <div class="col-6 sovona_logo">
            <img src="assets/img/GEERS.png">
        </div>
        <div class="col-6">
            <div style="text-align: right;">
                <p>030 1234 5678</p>
                <p>Mo - Sa 9 - 18 Uhr</p>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="[innerWidth<576 ? 'moblie_view_title_content container': 'title_content']">
    <img src="assets/img/title_pic_dame.svg">
    <div class="title_content_left">
        <img src="assets/img/title_pic_hear.svg">
    </div>
    <div class="title_content_right" [ngClass]="[innerWidth<576 ? 'container':'']">
        <p>quis commodo odio aenean sed adipiscing diam donec adipiscing</p>
        <button type="button" class="btn">montes</button>
        <div class="title_content_Award">
            <div>
                <img src="assets/img/Platz1.png">
            </div>
            <div>
                <img src="assets/img/Trusted.png">
            </div>
            <div>
                <img src="assets/img/eKomi.png">
            </div>
            <div class="star-content">
                <div>
                    <img src="assets/img/Stars5.png">
                </div>
                <div>
                    4,1/5
                </div>
            </div>
        </div>
    </div>
</div>


<div class="container people_says_info">
    <h2>sed pulvinar proin gravida hendrerit</h2>
    <div class="row">
        <div class="col-sm-4 col-12">
            <div class="col-4">
                <p>97%</p>
            </div>
            <div class="col-8">
                senectus et netus et malesuada
            </div>
        </div>
        <div class="col-sm-4 col-12">
            <div class="col-4">
                <p>95%</p>
            </div>
            <div class="col-8">
                ullamcorper malesuada proin libero nunc consequat
            </div>
        </div>
        <div class="col-sm-4 col-12">


            <div class="col-4">
                <p>66%</p>
            </div>
            <div class="col-8">
                urna duis convallis convallis tellus id interdum
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-sm-4">
            <div class="col-4">
                <p>61%</p>
            </div>
            <div class="col-8">
                massa vitae tortor condimentum lacinia quis
            </div>
        </div>
        <div class="col-sm-4 col-12">

            <div class="col-4">
                <p>56%</p>
            </div>
            <div class="col-8">
                id aliquet risus feugiat in ante metus dictum
            </div>

        </div>
        <div class="col-sm-4 col-12">
            *Eurotrak 2018
        </div>
    </div>


</div>
<div class="container pic_info_content4">
    <div class="row">
        <div class="col-sm-6 col-12">
            <img src="assets/img/pic_block4.jpeg">
        </div>
        <div class="col-sm-6 col-12">
            <p>
                convallis a cras semper auctor neque vitae tempus quam pellentesque nec nam aliquam sem et tortor consequat id porta nibh venenatis cras sed felis eget velit aliquet sagittis id consectetur purus ut faucibus pulvinar elementum integer enim neque volutpat
                ac
            </p>
            <p>
                iaculis eu non diam phasellus vestibulum lorem sed risus ultricies tristique nulla aliquet enim tortor at auctor urna nunc id cursus metus aliquam eleifend mi in nulla posuere sollicitudin aliquam ultrices sagittis orci a scelerisque purus semper
            </p>
            <p>
                ac ut consequat semper viverra nam libero justo laoreet sit amet cursus
            </p>

        </div>
    </div>
</div>

<div class="container button_content5">
    <div class="col-12">
        <button type="button" class="btn">at consectetur lorem</button>
    </div>
</div>

<div class="container info_pic_content6">
    <div class="row">

        <div class="col-sm-6 col-12">
            <p>
                viverra nibh cras pulvinar mattis nunc sed blandit libero volutpat sed cras ornare arcu dui vivamus arcu felis bibendum ut
            </p>
            <p>
                vestibulum rhoncus est pellentesque elit ullamcorper dignissim cras tincidunt lobortis feugiat vivamus at augue eget arcu dictum varius duis at consectetur
            </p>
            <p>
                quam elementum pulvinar etiam non quam lacus suspendisse faucibus </p>
        </div>

        <div class="col-sm-6 col-12">
            <img src="assets/img/pic-office.jpeg">
        </div>
    </div>
</div>

<div class="container info_identification_content7">
    <div class="row">
        <div class="col-sm-6 col-12">
            <div>
                <div class="item_checked">
                    <div>
                        <img src="assets/img/checked.png">
                    </div>
                    <div>
                        fermentum dui faucibus in ornare quam viverra orci sagittis
                    </div>
                </div>
                <div class="item_checked">

                    <div>
                        <img src="assets/img/checked.png">
                    </div>
                    <div>
                        consequat ac felis donec et odio pellentesque diam
                    </div>
                </div>
                <div class="item_checked">
                    <div>
                        <img src="assets/img/checked.png">
                    </div>
                    <div>
                        ultrices gravida dictum fusce ut placerat orci
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-6 col-12">
            <div class="identifications">
                <img src="assets/img/Service_g.png">
                <img src="assets/img/Best-Preis_g.png">
                <img src="assets/img/Zufriedenheits_g.png">
            </div>

            <div class="identifications-btn">
                <button type="button" class="btn">massa enim nec dui</button>
            </div>
        </div>
    </div>
</div>

<div [ngClass]="[innerWidth<576 ? 'moblie_view_footer_content8 container': 'footer_content8']">
    <img class="footer_bg_img" src="assets/img/Thomas.jpeg">
    <div class="row">
        <div class="col-12">
            <div class="content_over_footer">
                <div>
                    <img src="assets/img/semicolon_upside_down.png">
                </div>
                <div>
                    <p class="text_over_footer">
                        nec nam aliquam sem et<br> tortor consequat id
                    </p>
                    <p>
                        mattis vulputate
                    </p>
                </div>
            </div>

        </div>
    </div>
    <div class="row footer_impressum">
        <div class="col-12">
            <div>
                Impressum/Datenschutz
            </div>
            <div>
                Copyright &#169; 2020 sit amet. All rights reserved.
            </div>
        </div>
    </div>

</div>