/* You can add global styles to this file, and also import other style files */

$themen_color_green: #59b02f;
$primary: $themen_color_green;
body {
    font-family: Arial;
}

.container {
    margin-top: 30px;
    margin-bottom: 30px;
}


/*block 1*/

.header_info {
    font-weight: bold;
    color: $themen_color_green;
    white-space: nowrap;
}

.sovona_logo>img {
    width: 118px;
    height: 30px;
}

.header_info p:nth-child(1) {
    font-size: 22px;
    margin-bottom: 0;
}


/*block 2*/

.title_content {
    position: relative;
    width: 100%;
    max-height: 501px;
    min-width: 1280px;
}

.moblie_view_title_content {
    position: relative;
    padding: 0;
}

.moblie_view_title_content>img {
    height: 200px;
}

.title_content>.title_content_left {
    width: 183px;
    height: 183px;
    position: absolute;
    top: 40px;
    right: 53%;
}

.title_content>.title_content_right {
    width: 496px;
    height: 380px;
    padding: 30px;
    text-align: center;
    position: absolute;
    top: 20px;
    background-color: #F9F9F9;
    right: 10%;
}

.title_content_Award {
    display: flex;
    justify-content: space-around;
    margin-top: 30px;
}

.title_content_Award img {
    height: 60px;
}

.star-content img {
    height: 20px;
    text-align: left;
}

.moblie_view_title_content p,
.title_content p {
    font-size: 36px;
    text-align: center;
}

.moblie_view_title_content .btn,
.title_content .btn {
    background-color: $themen_color_green;
    color: white;
    width: 380px;
    height: 56px;
    border-radius: 5px;
}

.moblie_view_title_content .btn {
    width: 100%;
}

.title_content>img,
.title_content_left>img {
    width: 100%;
    max-height: 501px;
    background-color: #d6e3e6;
}

.moblie_view_title_content>.title_content_left img {
    width: 110px;
    height: 110px;
    position: absolute;
    top: 15px;
    right: 10%;
}


/*block 3*/

.people_says_info {
    font-weight: bold;
}

.people_says_info p {
    color: $themen_color_green;
    font-size: 32px;
}

.people_says_info .col-sm-4 {
    padding: 15px;
}


/* block 4*/

.pic_info_content4,
.info_pic_content6 {
    background-color: #f6f6f6;
}

.info_pic_content6>.row>div:nth-child(2),
.pic_info_content4>.row>div:nth-child(1) {
    // background-image: url("assets/img/pic_block4.jpeg");
    // background-size: 100%;
    // max-width: 570px;
    // background-repeat: no-repeat;
    // min-height: 281px;
    align-items: center;
    justify-content: center;
    display: flex;
    padding: 0;
}

.info_pic_content6 img,
.pic_info_content4 img {
    width: 100%;
}

.info_pic_content6>.row>div:nth-child(1),
.pic_info_content4>.row>div:nth-child(2) {
    padding: 40px;
}


/*block 5*/

.button_content5 {
    text-align: center;
}

.button_content5 button {
    background-color: $themen_color_green;
    color: white;
    width: 355px;
    height: 56px;
    border-radius: 5px;
}


/*block 7*/

.identifications {
    display: flex;
    justify-content: space-between;
}

.identifications img {
    width: 120px;
    height: 110px;
}

.identifications-btn {
    display: flex;
    justify-content: center;
    margin: 40px;
}

.identifications-btn>.btn {
    background-color: $themen_color_green;
    color: white;
    width: 288px;
    height: 56px;
    border-radius: 5px;
}

.info_identification_content7>.row {
    align-items: center;
}

.info_identification_content7>.row>div:nth-child(1) {
    display: flex;
    justify-content: space-between;
}

.info_identification_content7>.row>div:nth-child(1) img {
    width: 35px;
    height: 35px;
}

.item_checked {
    display: flex;
    align-items: center;
}

.item_checked:nth-child(n + 2) {
    margin-top: 30px;
}

.item_checked>div:nth-child(1) {
    margin-right: 5px;
}


/*block 8*/

.footer_bg_img {
    width: 100%;
    max-width: 1280px;
}

.content_over_footer {
    display: flex;
    position: absolute;
    color: white;
    top: 70px;
    left: 200px;
}

.content_over_footer>div:nth-child(1) {
    margin-right: 10px;
}

.content_over_footer img {
    width: 87px;
    height: 83px;
}

.text_over_footer {
    font-size: 30px;
    font-weight: bold;
}

.footer_content8 {
    position: relative;
    width: 100%;
    min-width: 1280px;
    background-color: #605f65;
}

.footer_impressum {
    background-color: #414141;
    color: white;
    text-align: center;
}

.moblie_view_footer_content8 {
    padding: 0;
    position: relative;
}

.moblie_view_footer_content8 .content_over_footer {
    display: flex;
    position: absolute;
    color: white;
    top: 10px;
    left: 10px;
}


/* mobile version*/

@media only screen and (max-width: 576px) {
    .sovona_logo>img {
        width: 78.8px;
        height: 20px;
    }
    .header_info p:nth-child(2) {
        display: none;
    }
    .people_says_info>div>div {
        display: flex;
        justify-content: space-around;
        align-items: center;
    }
    .button_content5 button {
        width: 100%;
    }
    .info_pic_content6>.row {
        display: flex;
        flex-direction: column-reverse;
    }
    .info_identification_content7>.row>div:nth-child(2) {
        margin-top: 30px;
    }
    .identifications-btn {
        margin: 40px 0;
    }
    .identifications-btn>.btn {
        width: 100%;
    }
    .footer_bg_img {
        width: 100%;
    }
    .content_over_footer img {
        width: 48px;
        height: 46.13px;
    }
    .text_over_footer {
        font-size: 20px;
        font-weight: bold;
    }
}